{% extends "base.html" %}

{% block title %}reinitialisez le mot de passe{% endblock %}

{% block content %}
 <h1>reinitialisez votre mot de passe</h1>
 {% if validlink %}
 <p>Veuillez entrer votre nouveau mot de passe deux fois:</p>
 <form action="." method="post">
 	{{ form.as_p }}
 	{% csrf_token %}
 	<p><input type="submit" value="Change mo mot de passe" /></p>
 </form>
 {% else %}
 	<p>le lien est invalid ou a été deja utilisé.<br>Veuillez demandez une nouvelle reinitialisation</p>
 {% endif %}
{% endblock %}