{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
	<h1>Dashboard</h1>
{% with total_images_created=request.user.images_created.Count %}
	<p>Bienvenue sur votre page d'accueil.
		Vous avez posté {{ total_images_created }}
	 image{{ total_images_created|pluralize }}.</p>
{% endwith %}

	<p>Faites glisser le bouton suivant vers votre barre d'outils pour marquer l'image d'autres sites web
	<a href="javascript:{% include 'bookmarklet_launcher.js' %}" class="button">Marquez !</a> </p>
	<p>Vous pouvez aussi <a href="{% url 'edit' %}">Modifier votre profile</a>
		ou <a href="{% url 'password_change' %}">Modifiez le mot de passe</a>.</p>

{% endblock %}